@font-face {
  font-family: 'Aileron';
  src: url('/assets/aileron-light-webfont.woff') format('woff');
}

/* TODO: Find use for this one? */
@font-face {
  font-family: 'Ostrich';
  src: url('/assets/ostrich-sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/assets/CascadiaCode.otf') format('opentype');
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Aileron';
  background-color: #191919;
  color: hsl(163, 30%, 96%);
}

a {
  color: #81c5ff;
  text-decoration: none;
}

article {
  padding: 0 4em 0 4em;
  font-size: 13pt;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 2em;
}
@media (max-width: 970px) {
  article {
    padding: 0 2em 0 2em;
  }
}

code {
  font-family: 'Cascadia Code', 'Fira Code Retina', monospace;
  font-size: 10pt;
}

.toggle-theme {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1em;
  padding: 0;
}
.toggle-theme:focus {
  outline: 0;
}

.toggle-theme img {
  width: 1.5em;
  height: 1.5em;
}

.dark .toggle-theme {
  filter: invert(100%);
}

.article-header {
  display: flex;
  border-bottom: solid 2px #fff;
  padding-bottom: 0.5em;
}

.article-header .left,
.article-header .right {
  flex: 1;
}
.article-header .right {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

/* Dark theme */
.dark body {
  background-color: #191919;
  color: hsl(163, 30%, 96%);
}

.dark a {
  color: #81c5ff;
}

/* Light theme */
.light body {
  color: #000;
  background-color: hsl(163, 30%, 96%);
}

.light a {
  color: #0071d1;
}

/* Allow for spoiler-style code sections */
.hidden-codeblock > pre {
  display: none;
}
.hidden-codeblock.visible > pre {
  display: inherit;
}
